<nav>
    <div class="container nav-content">
        <a routerLink="/" class="logo">E-Com</a>
        <div class="links">
            <a routerLink="/products" routerLinkActive="active">Products</a>
            <ng-container *ngIf="customer">
                <a routerLink="/bills" routerLinkActive="active">My Bills</a>
            </ng-container>
        </div>
        <div class="auth">
            <ng-container *ngIf="!customer">
                <a routerLink="/login" class="btn btn-outline">Login</a>
                <a routerLink="/register" class="btn btn-primary">Register</a>
            </ng-container>
            <ng-container *ngIf="customer">
                <span class="username">{{ customer.name }}</span>
                <button (click)="logout()" class="btn btn-outline">Logout</button>
            </ng-container>
        </div>
    </div>
</nav>